body {
  margin: 0;
  padding:0;
  font-family: sans-serif;
  background-color:green;
}

#title{
  background-color:gray;
  width:fit-content;
  padding:10px;
  border-radius: 20px;
  color:white;
  letter-spacing: 2px;
}
#blackjack-container{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.nametag{
  background-color:gray;
  border-radius: 10px;
  text-align:center;
  margin:5px 0 0 0;
  width:fit-content;
  padding:5px 10px
}
#players{
  display:flex;
  justify-content: space-around;
  width:100%;
  padding-top:80px;
}
/* TEMP */
.card{
height:200px;
}
.player-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}
/* TEMP */